@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
  --fontLogo: 'Dancing Script', cursive;
  --fontDefault: 'Noto Sans', sans-serif;
  --crema: #f5e5c1;
  --cafe: #5D4717;
  --cafeClaro: #AF8155;
  --cafeSemiOscuro: #976F49;
  --cafeOscuro: #342609;
}